/.idea/
/_online_material/
/chapter_12_Web_Scraping/outlook.txt
/chapter_14_Google_Sheets/credentials-sheets.json
/chapter_14_Google_Sheets/token-drive.pickle
/chapter_14_Google_Sheets/token-sheets.pickle
/chapter_17_Time/comics
/chapter_17_Time/comic_downloader-NOTFINISHED.py
/chapter_18_Email_SMS/gmail.txt
/chapter_18_Email_SMS/credentials-gmail.json
/chapter_18_Email_SMS/credentials.json
/chapter_18_Email_SMS/token.json
